@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(185, 75%, 39%);
}
body::before {
  content: '';
  position: absolute;
  bottom: 50%;
  background-image: url(images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  content: '';
  position: absolute;
  transform: scaleX(-1);
  top: 50%;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
}

.card-container {
  height: 350px;
  width: 320px;
  position: relative;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.card-container::before {
  content: '';
  position: absolute;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40%;
  background-image: url(images/bg-pattern-card.svg);
}

.card-container .content {
  width: 100%;
  height: 60%;
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-container .content .name {
  margin-top: 65px;
}
.card-container img {
  position: absolute;
  width: 85px;
  height: 85px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 1;
  transform: translateY(-50%);
}

.card-container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px hsla(0, 0%, 59%,.25);
  width: 100%;
}

.card-container ul li {
  padding: 20px;
  text-align: center;
}

.card-container ul li h1 {
  margin-bottom: 5px;
}

.card-container ul li p {
  font-size: 10px;
}

.content h2, .content h1 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}
.content > p {
  margin-bottom: 12px;
}
.content p {
  font-size: 14px;
}

.content p, .content h1 span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
